.root {
    position: relative;
    left: -120px;
}

.input {
    padding: 12px 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    min-width: 350px;
    padding-left: 35px;
}

.icon {
    position: absolute;
    opacity: 0.4;
    top: 10px;
    left: 9px;
}

.button {
    cursor: pointer;
}

.closeIcon {
    position: absolute;
    top: 16px;
    right: 15px;
    opacity: 0.4;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}